<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <style type="text/css">
       @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
    :root {
        --carrot-orange: hsla(36, 99%, 47%, 1);
        --blue-munsell: hsla(191, 95%, 34%, 1);
        --charcoal: hsla(214, 31%, 26%, 1);
        --android-green: hsla(81, 49%, 53%, 1);
        --jet: hsla(330, 2%, 18%, 1);
        font-family: 'Sorts Mill Goudy', serif;
        } 
        
        body {
            color: var(--carrot-orange);
            background-color: var(--charcoal);
        }
    </style>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <a href="../food">Check out our food menu</a>
    <ul>
        <% for(let drink in drinksMenu) { %>
        <li>
          <a href="/drinks/<%=drink%>"><%=drinksMenu[drink].name.charAt(0).toUpperCase() + drinksMenu[drink].name.slice(1) %></a>
        </li>
        <% } %>
      </ul>
</body>
</html>